#followers-main-container {
	margin-left: 35px;
}
.follower-name {
	margin-top: 16px;
	margin-left:100px
}
.follower-canvas-cntr {
	min-width: 245px;
	height: 105px;
	max-width: 245px;
	max-height: 105px;
	display: inline-table;
}
.followers-avtar {
	border-style:solid;
	border-color:rgb(183, 183, 183);
	border-width:4px;border-radius:999px;
	float:left;
}