.to-follow-container {
	overflow: auto;
	max-height: 300px;
	position: relative;
}

.to-follow-controls {
	display: none;
	position: absolute;
}

.to-follow-pic {
	float: left;
	margin-bottom: 4%;
	margin-right: 2%;
	border: 3px solid WHITE;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
	cursor: pointer;
}

.float {
	float: right;
}

.to-follow-div:active, .to-follow-div:visited {
	background-color: orange;
}

.to-follow-div:hover .to-follow-controls {
	display: block;
}

.span-pic {
	border-radius: 5px;
	border: 3px solid white;
	/*box-shadow: 2px 2px 10px 3px #888;*/
	float: left;
}