@charset "UTF-8";
/* CSS Document */
div.product {

	position: relative;
	float:right;
}

.information_box{
	right: 0px;
    text-align: left;
}

.product_price{
	margin-left: 10px;
    margin-right: 10px;
}
.profile_picture{
    right:13px;
}
