.user-span {
	margin-left:2%;margin-right:0;float: right;
}

.user-pic {
	float:right;
}

.user-name {
	float:right;margin-right:10px;margin-left:0;
}

.user-follow, .user-unfollow {
	margin-right:10px;float:right;margin-left:0;
}