{% load i18n %}
{% load get_user_info %}
 
<div id="SyncInvitekModal" class="modal hide fade">
  <div class="modal-header">
    <div class="modal-close" data-dismiss="modal">
      <label>X</label>
    </div>
    <label class="modal-title">{% trans "Find and invite people you know" %}</label>
  </div>
  <div class="modal-body" style="padding: 30px 50px;">
    <ul class="nav nav-tabs" id="myTab">
      <li>
        <a onclick="tab('facebook');" href="#facebook" data-toggle="tab" id="facebook-tab">
          <img src="{{STATIC_URL}}img/00fb.png" height="30px;" width="33px;">
          {% trans "Facebook" %}
        </a>
      </li>
      <li>
        <a onclick="tab('twitter');" href="#twitter" data-toggle="tab" id="twitter-tab">
          <img src="{{STATIC_URL}}img/00tw.png" height="30px;" width="36px;">
          {% trans "Twitter" %}
        </a>
      </li>
      <li>
        <a href="#google" data-toggle="tab" id="google-tab" style="display:none;">
          <img src="{{STATIC_URL}}img/00gplus.png" height="30px;" width="36px;">{% trans "Google+" %}
        </a>
      </li>
      <li class="active">
        <a href="#mail" data-toggle="tab">
          <img src="{{STATIC_URL}}img/00mail.png" height="30px;" width="34px;">
          {% trans "Invite by Mail" %}
        </a>
      </li>
    </ul>

    <div class='tab-content'>
      <div class='tab-pane active' id="mail" align="center">
        <form class='form-horizontal' id='inviteForm' action='{% url send_invitation %}' onSubmit="return !checkMail() && check_chars();">
          <input type='text' name='to_email' id="to-emails" placeholder='{% trans "email" %}'>
          <input type='hidden' name='next' value='{{request.get_full_path}}'>
          <input type='hidden' name='subject' value='Invitation to join Shoghlanah'>
          <textarea id="email-msg" rows='4' cols='200' required name='text' placeholder='{% trans "Message" %}' onkeyup="check_chars()"></textarea>
          <br/>
          <div id="email-error" style="color:red;font-size:10px;min-height:20px"> </div>
          
          <input type='submit' id="send-btn" value='{% trans "Send Invitation" %}'>
        </form>
      </div>

      <div class='tab-pane' id="facebook">
        <div class="loadingbody"><span class="load-1"></span><span class="load-2"></span><span class="load-3"></span><span>{% trans "Processing Request" %}</span><span class="load-4"></span><span class="load-5"></span><span class="load-6"></span></div>
      </div>
      <div class='tab-pane' id="twitter">
        <div class="loadingbody"><span class="load-1"></span><span class="load-2"></span><span class="load-3"></span><span>{% trans "Processing Request" %}</span><span class="load-4"></span><span class="load-5"></span><span class="load-6"></span></div>
      </div>
      <div class='tab-pane' style="display:none;" id="google">
        <div class="loadingbody"><span class="load-1"></span><span class="load-2"></span><span class="load-3"></span><span>{% trans "Coming Soon" %}</span><span class="load-4"></span><span class="load-5"></span><span class="load-6"></span></div>
      </div>
    </div>
  </div>
</div>


                <script>
                    $(document).ready(function() {
                      {% if request.session.Social %}
                          $('#SyncInvitekModal').modal('show');
                          tab("{{ request.session.Social }}");
                          {{ request|sessionDeleteSocial }}
                      {% endif %}
                      $("#to-emails").tagit({
                        availableTags: [],
                        allowSpaces: true,
                        placeholderText: '{% trans "Add Email" %}',
                      });
                    });

                    function checkMail() {
                      var hasError = false;
                      var emailReg = /^((\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)*([,])*)*$/;
                      var emailaddressVal = $("#to-emails").val();
                      var msg = $("#email-msg").val();
                      _kmq.push(['record', 'Sent Invitation to join ',{'Sender':'{{request.user.email}}', 'Receiver':emailaddressVal}]);
                      if(emailaddressVal == '') {
                        $('#email-error').html('{% trans "Please Enter An Email." %}');
                        hasError = true;
                      }else
                        if(!emailReg.test(emailaddressVal)) {
                          $('#email-error').html('{% trans "Enter A Valid Email Address." %}');
                          hasError = true;
                        }else
                          if(msg == '') {
                            $('#email-error').html('{% trans "You Have To Enter A Message." %}');
                            hasError = true;
                          }
                      return hasError;
                    }

                    function tab(tab_id) {
                      if (tab_id == 'facebook') {
                        $('#myTab li:eq(0) a').tab('show');
                        {% if request.user.id|checkUserFacebook %}
                          $.ajax({
                            url:'{% url sync_facebook %}',
                            success:function(data) {
                              $('#facebook').html(data);
                            },
                            error: function() {
                              $.ajax({
                                url: '{% url facebook_login %}',
                                success: tab(tab_id),
                                error: $('#facebook').html("{% trans 'Please check your internet connection' %}")
                              })
                            }
                          });
                        {% else %}
                          window.location.href="{% url sync_facebook %}";
                        {% endif %}
                      } else {
                        if (tab_id == 'twitter') {
                          $('#myTab li:eq(1) a').tab('show');
                          {% if request.user.id|checkUserTwitter %}
                            $.ajax({
                              url:'{% url sync_twitter %}',
                              success:function(data) {
                                $('#twitter').html(data);
                              },
                              error: function() {
                                window.location.href="{% url sync_twitter %}";
                              }
                            });
                          {% else %}
                            window.location.href="{% url sync_twitter %}";
                          {% endif %}
                        }
                      }
                    }

                    function check_chars () {
                      var c = 200 - $("#email-msg").val().length;
                      $("#char-count").html(c);
                      if (c < 0) {
                        $("#char-count").attr('class', 'text-error');
                        return false;
                      }else {
                        $("#char-count").attr('class', 'muted');
                        return true;
                      }

                    }
                </script>
