{% extends "master.html" %}
{% load i18n %}
{% block dashboard %}

    {% if validlink %}
<script type="text/javascript">
    function check_errs() {
            var password = form.new_password1.value;
            if(password.length < 8) {
                $("#id_new_password1").before('<span class="error"><font color="red">{% trans "The password must be at least 8 characters long" %}</font></span>');
                return false;
            }
            return true;
        };
</script>
<style>
.errorlist{
    margin: 20px 0 10px 0;
    margin-top: 20px;
    list-style: none;
}
</style>

{% if form.new_password1.errors %}
<style>
#id_new_password1 {
    border-color: rgba(243, 89, 42, 0.8); 
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(243, 89, 42,.075), 0 0 8px rgba(243, 89, 42,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(243, 89, 42,.075), 0 0 8px rgba(243, 89, 42,.6);
    box-shadow: inset 0 1px 1px rgba(243, 89, 42,.075), 0 0 8px rgba(243, 89, 42,.6);
}
</style>
{% endif %}

{% if form.new_password2.errors %}
<style>l
#id_new_password2 {
    border-color: rgba(243, 89, 42, 0.8); 
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(243, 89, 42,.075), 0 0 8px rgba(243, 89, 42,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(243, 89, 42,.075), 0 0 8px rgba(243, 89, 42,.6);
    box-shadow: inset 0 1px 1px rgba(243, 89, 42,.075), 0 0 8px rgba(243, 89, 42,.6);
}
</style>
{% endif %}

        <div class="modal" style="position: absolute;top: 345px;">
            <div class="modal-header">
                <h3>{% trans  "Reset Password" %}</h3>
            </div>
            <div class="modal-body">
                <form action="." method="post">
                    {% csrf_token %}
                    <fieldset>
                        <span class="error"><font color="#f3592a">{{ form.new_password2.errors }}</font></span>
                        <input type="password" name="new_password1" id="id_new_password1" class="input-xlarge" style="height:30px;" placeholder="{% trans 'New Password' %}">
                    </fieldset>

                    <fieldset>
                        <input type="password" name="new_password2" id="id_new_password2" class="input-xlarge" style="height:30px;" placeholder="{% trans 'Confirm New Password' %}">
                    </fieldset>
            </div>
            <div class="modal-footer">
                 <button id="reset" type="submit" class="btn btn-primary" style="width: 166px;">{% trans  "Reset Password" %}</button>
            </div>
           </form> 
        </div>

    {% else %}
        <p>
            {% trans "The reset link is invalid. Please check again" %}
        </p>
     {% endif %}
{% endblock dashboard %}

