{% extends "master.html" %}
{% load i18n %}


{% block dashboard %}


<style>
.errorlist{
    margin: 20px 0 10px 0;
    margin-top: 20px;
    list-style: none;
    line-height: 20px;
}
.errorlist li {
    line-height: 14px;
}
</style>

{% if form.email.errors %}
<style>
#id_email {
    border-color: rgba(243, 89, 42, 0.8); 
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(243, 89, 42,.075), 0 0 8px rgba(243, 89, 42,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(243, 89, 42,.075), 0 0 8px rgba(243, 89, 42,.6);
    box-shadow: inset 0 1px 1px rgba(243, 89, 42,.075), 0 0 8px rgba(243, 89, 42,.6);
}
</style>
{% endif %}

<div class="modal" style="position: absolute;top: 345px;">

    <div class="modal-header">

        <h3>{% trans  "Reset Password" %}</h3>
    </div>

    <div class="modal-body">
        <form action="." method="post">
            {% csrf_token %}
                <fieldset>
                    <font color="#f3592a">{{ form.email.errors }}</font>
                    <!-- the id_email cannot be changed because it is linked to thr backend code -->
                    <input id="id_email" type="text" name="email" maxlength="75" placeholder="{% trans 'Email' %}" class="input-xlarge" style="height:30px;" value="{% if form.email.value %}
                        {{ form.email.value }}
                    {% endif %}"/>
                </fieldset>
            </div>
    
            <div class="modal-footer">
                <button style="border-radius: 0;
                background-color: rgb(0,156,196);
                margin-right: 20px;
                color: white;
                padding: 7px 20px;
                margin-top: 4px;
                border: 0;
                font-size: 18px;
                font-weight: 400;" type="submit" style="width: 166px;">{% trans  "Reset Password" %}</button>
            </div>

    </form>
</div>

{% endblock dashboard %}
