{% extends 'master.html' %}
{% load i18n %} 
{% block dashboard %}
{% load thumbnail %}
{% load get_user_info %}

<script type="text/javascript" src="{{STATIC_URL}}assets/js/skill_profile.js"></script>  

{% if request.session.django_language == 'ar' %}
<link type="text/css" href="{{STATIC_URL}}assets/css-rtl/stream-rtl.css" rel="stylesheet" />
{% else %}
<link type="text/css" href="{{STATIC_URL}}assets/css/stream.css" rel="stylesheet" />
{% endif %}

<link type="text/css" href="{{STATIC_URL}}assets/css/tag.min.css" rel="stylesheet"/>

<script type="text/javascript">
	
$(document).ready(function(){
        $('#dashboard').css("height",$(document).height()-60);
        $('.users').css("height", $('#dashboard').height() - $('#info').height());
        $('#v-gradient').css("height", $('#dashboard').height() - $('#info').height());
        _kmq.push(['record', 'Visited Skill Prfoile',{'User':'{{request.user.email}}','Skill':'{{skill}}'}]);
        _gaq.push(['_trackEvent', 'Skill Profile', 'Visited']);
});
    
$.ajaxPrefilter(function(options, originalOptions, jqXHR) {
    if(!options.crossDomain) {
        if(options.data) {
            options.data += "&";
        } else {
            options.data = "";
        }
        options.data += "csrfmiddlewaretoken={{csrf_token}}";
    }
});

</script>

{% if request.session.django_language == 'ar' %}
<link type="text/css" href="{{STATIC_URL}}assets/css-rtl/skills_profile-rtl.css" rel="stylesheet"/>
{% else %}
<link type="text/css" href="{{STATIC_URL}}assets/css/skills_profile.css" rel="stylesheet"/>
{% endif %}

<div id="info">

	{% include "skill_profile_info.html" %}

</div>

<div id="lower-container">

	{% include "skill_profile_stream_users.html" %}

</div>

{% endblock dashboard %}
